@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 275 100% 10%;
    --card: 0 0% 100%;
    --card-foreground: 275 100% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 275 100% 10%;
    --primary: 275 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 20% 90%;
    --secondary-foreground: 275 100% 10%;
    --muted: 240 20% 90%;
    --muted-foreground: 275 25% 40%;
    --accent: 285 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 85%;
    --input: 240 10% 85%;
    --ring: 285 100% 50%;
    --chart-1: 275 100% 25%;
    --chart-2: 285 100% 50%;
    --chart-3: 275 80% 60%;
    --chart-4: 285 70% 70%;
    --chart-5: 275 60% 80%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 275 100% 10%;
    --sidebar-primary: 275 100% 25%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 67% 94%;
    --sidebar-accent-foreground: 275 100% 10%;
    --sidebar-border: 240 10% 85%;
    --sidebar-ring: 285 100% 50%;
  }
  .dark {
    --background: 275 10% 10%;
    --foreground: 240 67% 94%;
    --card: 275 10% 12%;
    --card-foreground: 240 67% 94%;
    --popover: 275 10% 10%;
    --popover-foreground: 240 67% 94%;
    --primary: 275 100% 80%;
    --primary-foreground: 275 100% 10%;
    --secondary: 275 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 275 10% 20%;
    --muted-foreground: 240 5% 65%;
    --accent: 285 100% 60%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 10% 20%;
    --input: 275 10% 20%;
    --ring: 285 100% 60%;
    --chart-1: 275 90% 70%;
    --chart-2: 285 90% 60%;
    --chart-3: 275 80% 60%;
    --chart-4: 285 70% 70%;
    --chart-5: 275 60% 80%;
    --sidebar-background: 275 10% 10%;
    --sidebar-foreground: 240 67% 94%;
    --sidebar-primary: 275 100% 80%;
    --sidebar-primary-foreground: 275 100% 10%;
    --sidebar-accent: 275 10% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 275 10% 20%;
    --sidebar-ring: 285 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
